/*

MyLedger CSS starts here

*/
#header-section-logo {
    font-size: 34px;
    text-transform: lowercase;
    text-decoration: none;
}

#header-section-logo a {
    text-decoration: none;
}

#_M_yLedger {
	color: #666666;
	}
	
#M_y_Ledger {
	color: #666666;
	}
	
#My_L_edger {
	color: #ff6600;
	}
	
#MyL_e_dger {
	color: #006666;
	}
	
#MyLe_d_ger {
	color: #990000;
	}
	
#MyLed_g_er {
	color: #669900;
	}
	
#MyLedg_e_r {
	color: #006666;
	}
	
#MyLedge_r_ {
	color: #660033;
	}

.errorlist {
   color: #cc0000;
   font-weight: bold;
}

/*****************************************/
/* angular.treeview                      */
/*****************************************/
/*
div[data-angular-treeview] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/

div[data-tree-model] ul {
  list-style: none;
}

div[data-tree-model] li {
  position: relative;
  padding: 0px 0px 0 10px;
  line-height: 40px;
  cursor: pointer;
}

div[data-tree-model] li .expanded {
  padding: 1px 15px 15px 15px;
  background-image: url("/images/folder_open_1.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 15px 15px 15px;
  background-image: url("/images/folder_1.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 15px 15px 15px;
  background-image: url("/images/document_filled_1.png");
  background-repeat: no-repeat;
}

/*
 AngularJS UI Grid
*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    /* width: 400px; */
    height: 400px
}

.ngCellText .right {
  text-align: right;
}

.ngCellText .center, .ngHeaderCell .center {
  text-align: center;
}

