{% extends "base.html" %}

{% block tab-accounts %}class="active"{% endblock %}

{% block content %}
  
<div class="row clearfix">
    <div class="col-sm-12 column">
	<ul class="nav nav-tabs">
	   <li {% block tab-account-manage %}{% endblock %}>
	       <a href="{% url 'oas.views.manage_accounts' current_legal_entity.code %}">Manage</a>
	   </li>
	   <li {% block tab-account-import %}{% endblock %}>
	       <a href="{% url 'oas.views.import_accounts' current_legal_entity.code %}">Import</a>
	   </li>
	   <li {% block tab-account-export %}{% endblock %}>
	       <a href="{% url 'oas.views.export_accounts' current_legal_entity.code %}">Export</a>
	   </li>
	</ul>
    </div>
</div>

{% block account-content %}
  
{% endblock %}

{% endblock %}