{% extends "base.html" %}
{% load oasextras %}

{% block content %}

<div class="row clearfix">
    <div class="col-sm-12 column">
    <form
        class="form-horizontal"
        action="{% url 'oas.views.save_legal_entity' current_legal_entity.code %}"
        method="post">
        <div>{% csrf_token %}</div>
        {% for field in legal_entity_form %}
            {% for error in field.errors %}
                {% if forloop.first %}
                <ul class="errorlist">
                {% endif %}
                <li>{{ error }}</li>
                {% if forloop.last %}
                </ul>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                {{ field|label_with_css:"control-label" }}{{ field|with_css:"form-control" }}
            </div>
        {% endfor %}
        <div class="form-group">  
            <!-- modal caller -->
            <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk">Save</span></button>  
        </div>
    </form>
    </div>
</div>

{% endblock %}