{% extends "journal-entry.html" %}

{% block tab-journal-entry-new %}class="active"{% endblock %}

{% block journal-entry-content %}
{%verbatim%}
<div data-ng-controller="NewJournalEntryController">
<div class="row clearfix">
<div class="col-sm-12 column">
<form novalidate class="simple-form">
    <div class="row clearfix">
        <div class="col-sm-12 column">
        <alert data-ng-repeat="message in messages"
            type="message.type"
            close="closeMessage($index)">{{message.content}}
        </alert>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 column">
        <form class="form-inline">
            <div class="form-group col-sm-4 col-md-3 col-lg-2">
                <label for="valueDate">Value Date</label>
                <input type="date"
                    id="valueDate"
                    class="form-control input-sm"
                    data-ng-model="valueDateString"
                    ></input>
            </div>
            <div class="form-group col-sm-4 col-md-3 col-lg-2">
                <label for="currencySelector">Currency</label>
                <select
                    class="form-control input-sm"
                    id="currencySelector"
                    data-ng-model="currency.code"
                    data-ng-options="currency.code as currency.code + ' - ' + currency.name for currency in currencies  | orderBy:'code'"
                    >
                </select>
            </div>
            <div
                class="form-group col-sm-4 col-md-6 col-lg-8"
                data-ng-hide="templates.length == 0">  
            <label for="loadFromTemplate">Load from template</label>
            <div class="btn-group"
                id="loadFromTemplate"
                >
              <input
                type="button"
                class="btn btn-default btn-xs"
                data-ng-click="loadFromTemplate(currentTemplate)"
                data-ng-disabled="!currentTemplate"
                data-ng-value="currentTemplate? currentTemplate.name: '--- Please select ---'"
              </input>
              <button type="button"
                class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu"
                role="menu">
                <li data-ng-repeat="template in templates">
                <a href="" data-ng-click="loadFromTemplate(template)">{{template.name}}</a>
                </li>
                <li class="divider"></li>
                <li><a href="" data-ng-click="launchTemplateEntriesModal()">New Template...</a></li>
              </ul>
            </div>
            </div>
        </form>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 column">
        <div class="table-responsive">
        <table class="table">
        <thead>
        <tr>
        <th class="col-sm-3 col-md-3 col-lg-3 text-center">Debit</th>
        <th class="col-sm-2 col-md-2 col-lg-2 text-center">Amount Quantity</th>
        <th class="col-sm-3 col-md-3 col-lg-3 text-center">Credit</th>
        <th class="col-sm-2 col-md-2 col-lg-2 text-center">Label</th>
        <th class="col-sm-2 col-md-2 col-lg-2 text-center"></th>
        </tr>
        </thead>
        <tbody data-ng-repeat="entry in entries">

            <tr data-ng-show="entry.isMergeCandidate()">
                <td>
                <select data-ng-model="entry.debitEntries[0].accountType"
                    data-ng-options="option.code as option.name for option in accountTypes"
                    class="form-control input-sm">
                </select>
                <select
                    data-ng-model="entry.debitEntries[0].accountCode"
                    data-ng-options="code as code + ' - ' + name for (code, name) in accounts[entry.debitEntries[0].accountType]" 
                    class="form-control input-sm">
                </select>
                </td>
                <td><input
                    data-ng-model="entry.debitEntries[0].price"
                    data-ng-change="entry.creditEntries[0].price = entry.debitEntries[0].price"
                    class="form-control input-sm text-right"
                    type="text"
                    value=""></input>
                <input
                    data-ng-model="entry.debitEntries[0].quantity"
                    data-ng-change="entry.creditEntries[0].quantity = entry.debitEntries[0].quantity"
                    class="form-control input-sm text-right"
                    value="1"></input></td>
                <td>
                <select data-ng-model="entry.creditEntries[0].accountType"
                    data-ng-options="option.code as option.name for option in accountTypes"
                    class="form-control input-sm">
                </select>
                <select
                    data-ng-model="entry.creditEntries[0].accountCode"
                    data-ng-options="code as code + ' - ' + name for (code, name) in accounts[entry.creditEntries[0].accountType]" 
                    class="form-control input-sm">
                </select>
                </td>
                <td><textarea data-ng-model="entry.creditEntries[0].label" class="form-control input-sm" rows="2"></textarea></td>
                <td>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default btn-xs"
                    data-ng-click="entry.insertCreditEntry(entry.creditEntries[0])"
                    >Split credit
                  </button>
                  <button type="button"
                    class="btn btn-default btn-xs dropdown-toggle"
                    data-toggle="dropdown"
                    >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="" data-ng-click="entry.insertCreditEntry(entry.creditEntries[0])">Split credit</a></li>
                    <li><a href="" data-ng-click="entry.insertDebitEntry(entry.debitEntries[0])">Split debit</a></li>
                    <li class="divider"></li>
                    <li><a href="" data-ng-click="removeEntry($index)">Remove</a></li>
                    </ul>
                </div>
                </td>
            </tr>
            
            <!-- debit entries -->
            <tr data-ng-repeat="subentry in entry.debitEntries" data-ng-hide="entry.isMergeCandidate()">
                <td>
                <select data-ng-model="subentry.accountType"
                    data-ng-options="option.code as option.name for option in accountTypes"
                    class="form-control input-sm">
                </select>
                <select
                    data-ng-model="subentry.accountCode"
                    data-ng-options="code as code + ' - ' + name for (code, name) in accounts[subentry.accountType]" 
                    class="form-control input-sm">
                </select>
                </td>
                <td><input
                    data-ng-model="subentry.price"
                    class="form-control input-sm text-right"
                    type="text"
                    value=""></input>
                <input
                    data-ng-model="subentry.quantity"
                    class="form-control input-sm text-right"
                    value="1"></input></td>
                <td>
                </td>
                <td><textarea data-ng-model="subentry.label" class="form-control input-sm" rows="2"></textarea></td>
            <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-default btn-xs"
                data-ng-click="entry.insertDebitEntry(subentry)"
                >Add
              </button>
              <button type="button"
                class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown"
                >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="" data-ng-click="entry.insertDebitEntry(subentry)">Add</a></li>
                <li><a href="" data-ng-click="entry.removeDebit($index)">Delete</a></li>
                </ul>
            </div>
            </td>
            </tr>
            <!-- end debit entries -->
            <!-- credit entries -->
            <tr data-ng-repeat="subentry in entry.creditEntries" data-ng-hide="entry.isMergeCandidate()">
                <td>
                </td>
                <td><input
                    data-ng-model="subentry.price"
                    class="form-control input-sm text-right"
                    type="text"
                    value=""></input>
                <input
                    data-ng-model="subentry.quantity"
                    class="form-control input-sm text-right"
                    value="1"></input></td>
                <td>
                <select data-ng-model="subentry.accountType"
                    data-ng-options="option.code as option.name for option in accountTypes"
                    class="form-control input-sm">
                </select>
                <select
                    data-ng-model="subentry.accountCode"
                    data-ng-options="code as code + ' - ' + name for (code, name) in accounts[subentry.accountType]" 
                    class="form-control input-sm">
                </select>
                </td>
                <td>
                <textarea data-ng-model="subentry.label" class="form-control input-sm" rows="2">
                </textarea>
                </td>
            <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-default btn-xs"
                data-ng-click="entry.insertCreditEntry(subentry)"
                >Add
              </button>
              <button type="button"
                class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown"
                >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="" data-ng-click="entry.insertCreditEntry(subentry)">Add</a></li>
                <li><a href="" data-ng-click="entry.removeCredit($index)">Delete</a></li>
              </ul>
            </div>
            </td>
            </tr>
            <!-- end credit entries -->
            <tr data-ng-hide="entry.diffDebitCredit() == 0">
            <td><div class="alert alert-warning text-right">Difference Debit/Credit:</div></td>
            <td><div class="alert alert-warning text-right">{{ entry.diffDebitCredit() }}</div>
            </tr>
            
        </tbody>
        </table>
        </div>
        </div>
	</div>
	
    <div class="row clearfix">
        <div class="col-xs-12 column">
        <div class="form-group pull-right">
            <button type="submit" 
                class="btn btn-primary btn-xs  pull-left"
                data-ng-click="addNewEntry()"
                >
            <span class="glyphicon glyphicon-plus"> Add entry</span></button>
        </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 column">
            <div class="form-group pull-left">
            
                <button type="button"
                    class="btn btn-primary"
                    data-ng-click="uploadNewEntries()"
                    >
                <span class="glyphicon glyphicon-floppy-disk"> Save</span></button>
                
                <button type="button"
                    class="btn btn-default"
                    data-ng-click="launchTemplateEntriesModal()"
                    >
                <span class="glyphicon glyphicon-list-alt"> Save template...   </span></button>
                
                <button type="button"
                    class="btn btn-default"
                    data-ng-click="clearAll()"
                    >
                <span class="glyphicon glyphicon-remove-circle"> Clear all</span></button>
            </div>
        </div>
    </div>
         
</form>
</div>
</div>

</div> <!-- /.controller -->
{%endverbatim%}
{% endblock %}